.jumbo {
  background: url("../assets/maroongoldbubbles.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
}

.overlay {
  background-color: #000; /*black*/
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
